openinference-instrumentation-mcp==1.1.0
openinference-instrumentation-openai-agents==0.1.8
openinference-instrumentation-openai==0.1.25
openai==1.76.0
mcp==1.10.0
openai-agents==0.0.13
fastmcp==2.13.0
arize-phoenix-otel==0.9.0
openinference-semantic-conventions==0.1.17
pydantic==2.11.2
psutil==7.0.0
IPython==9.2.0
strawberry-graphql[opentelemetry]==0.267.0