openinference-instrumentation-mcp>=1.1.0
openinference-instrumentation-openai-agents>=0.1.8
openinference-instrumentation-openai>=0.1.25
openai
mcp
openai-agents
fastmcp
arize-phoenix-otel>=0.9.0
openinference-semantic-conventions
pydantic