root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.py]
indent_size = 4
max_line_length = 100

[*.{yml,toml}]
indent_size = 2

[*.ipynb]
indent_size = 4
