# Generated dirs
.vscode
.idea
.coverage
node_modules
dist
sdist
*__pycache__*
**/.pytest_cache
**/.ipynb_checkpoints/
**/.DS_Store

# Server static files
/src/phoenix/server/static/*

# Data files
*.csv
!tests/**/fixtures/*.csv
*.hdf
*.hdf5

# Testing
coverage.xml
.tox

# devtools
pyrightconfig.json

# Demo data
tutorials/internal/demo_llama_index/*.json
.env
