scikit-learn
numpy!=2.0.0
pandas>=1.0
jinja2
umap-learn
fast-hdbscan>=0.2.0
numba>=0.60.0
starlette
uvicorn
psutil
strawberry-graphql==0.243.1
pyarrow
typing-extensions>=4.6
scipy
wrapt
protobuf>=3.20.2, <6.0
grpcio
grpc-interceptor
tqdm
httpx
opentelemetry-sdk
opentelemetry-proto>=1.12.0
opentelemetry-exporter-otlp
opentelemetry-semantic-conventions
openinference-semantic-conventions>=0.1.9
openinference-instrumentation>=0.1.12
sqlalchemy[asyncio]>=2.0.4, <3
alembic>=1.3.0, <2
aiosqlite
aioitertools
sqlean.py>=3.45.1
cachetools
python-multipart
arize-phoenix-evals>=0.13.1
arize-phoenix-otel>=0.5.1
fastapi
pydantic>=1.0,!=2.0.*,<3
authlib
prometheus-client
opentelemetry-sdk
opentelemetry-proto>=1.12.0
opentelemetry-exporter-otlp
opentelemetry-semantic-conventions
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-grpc
py-grpc-prometheus
strawberry-graphql[opentelemetry]==0.243.1
uvloop; platform_system != 'Windows'
fast-hdbscan>=0.2.0
numba>=0.60.0
umap-learn
