arize-phoenix
arize-phoenix-evals
arize-phoenix-otel
beautifulsoup4==4.12.3
duckduckgo_search==7.2.1
langchain==0.3.14
langchain-community
langchain-core>=0.3.29,<0.3.72
langchain-openai==0.2.11
langchain-text-splitters
langgraph==0.2.62
loguru==0.7.2
pandas==2.2.3
python-dotenv==1.0.1
tqdm==4.66.6
gradio
openinference-instrumentation-openai
openinference-instrumentation-langchain