<skill>
  <name>{{ skill.name }}</name>
  <description>{{ skill.description }}</description>

  <resources>
    {% if skill.resources %}
      {% for r in skill.resources %}
    <resource name="{{ r.name }}"{% if r.description %} description="{{ r.description }}"{% endif %}{% if r.function_schema is defined %} parameters={{ r.function_schema.json_schema | tojson | tojson }}{% endif %} />
      {% endfor %}
    {% else %}
    <!-- No resources -->
    {% endif %}
  </resources>

  <instructions>
{{ skill.content }}
  </instructions>
</skill>
