arize-phoenix
arize-phoenix-evals
arize-phoenix-otel
beautifulsoup4==4.12.3
langchain>=1.0.0
langchain-anthropic>=1.0.0
langchain-core>=1.0.0
langgraph>=1.0.0
loguru==0.7.2
pandas==2.2.3
python-dotenv==1.0.1
tqdm==4.66.6
anthropic
gradio
openinference-instrumentation-anthropic
openinference-instrumentation-langchain
opentelemetry-sdk
opentelemetry-exporter-otlp