arize-phoenix
arize-phoenix-evals
arize-phoenix-otel
beautifulsoup4==4.12.3
langchain==0.3.14
langchain-anthropic==0.3.0
langchain-core>=0.3.29,<0.3.72
langgraph==0.2.62
loguru==0.7.2
pandas==2.2.3
python-dotenv==1.0.1
tqdm==4.66.6
anthropic
gradio
openinference-instrumentation-anthropic
openinference-instrumentation-langchain
opentelemetry-sdk
opentelemetry-exporter-otlp