arize-phoenix==12.20.0
arize-phoenix-evals==2.7.0
arize-phoenix-otel==0.14.0
beautifulsoup4==4.12.3
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.63
langchain-openai==0.3.19
langgraph==0.2.62
loguru==0.7.2
pandas==2.2.3
python-dotenv==1.0.1
tqdm==4.66.6
gradio==6.1.0
openinference-instrumentation-openai==0.1.41
openinference-instrumentation-langchain==0.1.56