name: Python CI
permissions:
  contents: read

on:
  push:
    branches:
      - main
      - version-*
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: test-python-${{ github.head_ref }}
  cancel-in-progress: true

env:
  pip-version: 24.2
  OPENAI_API_KEY: "sk-fake-openai-key" # fake openai key so that llama_index doesn't download huggingface embeddings

jobs:
  changes:
    name: Filter Changes
    runs-on: ubuntu-latest
    outputs:
      ipynb: ${{ steps.filter.outputs.ipynb }}
      ipynb_files: ${{ steps.filter.outputs.ipynb_files }}
      proto: ${{ steps.filter.outputs.proto }}
      prompts: ${{ steps.filter.outputs.prompts }}
      phoenix: ${{ steps.filter.outputs.phoenix }}
      phoenix_client: ${{ steps.filter.outputs.phoenix_client }}
      phoenix_evals: ${{ steps.filter.outputs.phoenix_evals }}
      phoenix_otel: ${{ steps.filter.outputs.phoenix_otel }}
      migrations: ${{ steps.filter.outputs.migrations }}
      uv_lock: ${{ steps.filter.outputs.uv_lock }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          list-files: shell
          filters: |
            ipynb:
              - "**/*.ipynb"
            proto:
              - "src/phoenix/proto/**"
              - "src/phoenix/trace/v1/**"
            prompts:
              - "prompts/**"
              - "scripts/prompts/compile_python_prompts.py"
            phoenix:
              - "src/**"
              - "tests/**"
              - "tutorials/**"
              - "pyproject.toml"
              - "tox.ini"
            phoenix_client:
              - "packages/phoenix-client/**"
              - "tox.ini"
            phoenix_evals:
              - "packages/phoenix-evals/**"
              - "tox.ini"
            phoenix_otel:
              - "packages/phoenix-otel/**"
              - "tox.ini"
            migrations:
              - "src/phoenix/db/migrations/versions/**"
            uv_lock:
              - "**/pyproject.toml"
              - "uv.lock"
      - name: Print Filters
        run: |
          echo "ipynb: ${{ steps.filter.outputs.ipynb }}"
          echo "ipynb_files: ${{ steps.filter.outputs.ipynb_files }}"
          echo "proto: ${{ steps.filter.outputs.proto }}"
          echo "prompts: ${{ steps.filter.outputs.prompts }}"
          echo "phoenix: ${{ steps.filter.outputs.phoenix }}"
          echo "phoenix_client: ${{ steps.filter.outputs.phoenix_client }}"
          echo "phoenix_evals: ${{ steps.filter.outputs.phoenix_evals }}"
          echo "phoenix_otel: ${{ steps.filter.outputs.phoenix_otel }}"
          echo "migrations: ${{ steps.filter.outputs.migrations }}"
          echo "uv_lock: ${{ steps.filter.outputs.uv_lock }}"

  phoenix-client:
    name: Phoenix Client
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.phoenix_client == 'true' }}
    strategy:
      matrix:
        py: [3.9, 3.12]
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            requirements/
            packages/phoenix-client/
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - run: uvx tox run -e phoenix_client -- -ra -x

  phoenix-evals:
    name: Phoenix Evals
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.phoenix_evals == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        py: [3.9, 3.12]
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            requirements/
            packages/phoenix-evals/
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - run: uvx tox run -e phoenix_evals -- -ra -x

  phoenix-otel:
    name: Phoenix OTel
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.phoenix_otel == 'true' }}
    strategy:
      matrix:
        py: [3.9, 3.12]
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            requirements/
            packages/phoenix-otel/
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - run: uvx tox run -e phoenix_otel -- -ra -x

  clean-jupyter-notebooks:
    name: Clean Jupyter Notebooks
    needs: changes
    if: ${{ needs.changes.outputs.ipynb == 'true' }}
    strategy:
      matrix:
        py: ["3.13"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Clean Jupyter notebooks
        run: make clean-notebooks
      - run: git diff --exit-code

  build-graphql-schema:
    name: Build GraphQL Schema
    needs: changes
    if: ${{ needs.changes.outputs.phoenix == 'true' }}
    strategy:
      matrix:
        py: ["3.10"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Build GraphQL schema
        run: make schema-graphql
      - run: git diff --exit-code

  build-openapi-schema:
    name: Build OpenAPI Schema
    needs: changes
    if: ${{ needs.changes.outputs.phoenix == 'true' }}
    strategy:
      matrix:
        py: ["3.10"]
        os: [oss-4-core-runner]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Build OpenAPI schema
        run: make schema-openapi
      - run: git diff --exit-code

  codegen-protobuf:
    name: Compile Protobuf
    needs: changes
    if: ${{ needs.changes.outputs.proto == 'true' }}
    strategy:
      matrix:
        py: ["3.10"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Compile Protobuf
        run: make codegen-protobuf
      - run: git diff --exit-code

  codegen-prompts:
    name: Compile Prompts
    needs: changes
    if: ${{ needs.changes.outputs.prompts == 'true' }}
    strategy:
      matrix:
        py: ["3.10"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Compile Prompts
        run: make codegen-prompts
      - name: Check for changes
        run: git diff --exit-code

  check-lockfile:
    name: Check uv.lock is up to date
    runs-on: ${{ matrix.os }}
    needs: changes
    if: ${{ needs.changes.outputs.uv_lock == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        py: ["3.10", "3.13"]
        os: [ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Check lockfile is up to date
        run: uv lock --check

  format-and-lint:
    name: Format and Lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        py: ["3.13"]
        os: [ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Run formatter and linter
        run: |
          make format-python
          make lint-python
      - run: git diff --exit-code

  type-check:
    name: Type Check Python
    runs-on: ${{ matrix.os }}
    needs: changes
    if: ${{ needs.changes.outputs.phoenix == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        py: ["3.10", "3.13"]
        os: [ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            Makefile
            scripts/ci/
            requirements/
            src/
            packages/
            tests/
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Sync dependencies
        run: uv sync --frozen
      - name: Type check all Python code
        run: uv run mypy
      - name: Ensure GraphQL mutations have permission classes
        run: make check-graphql-permissions

  unit-tests:
    name: Unit Tests (${{ matrix.db }}, ${{ matrix.py }})
    runs-on: oss-4-core-runner
    needs: changes
    if: ${{ needs.changes.outputs.phoenix == 'true' && github.event_name == 'pull_request' }}
    strategy:
      fail-fast: false
      matrix:
        py: ["3.10"]
        db: [sqlite, postgresql]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            requirements/
            src/phoenix/
            tests/unit/
            tests/conftest.py
            tests/__generated__/
            tests/__init__.py
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Install PostgreSQL
        if: matrix.db == 'postgresql'
        run: sudo apt-get -yqq install postgresql
      - name: Run SQLite tests
        if: matrix.db == 'sqlite'
        timeout-minutes: 60
        run: uvx tox run -e unit_tests -- -ra --reruns 5 -n 16 --dist loadscope
      - name: Run PostgreSQL tests
        if: matrix.db == 'postgresql'
        timeout-minutes: 60
        run: uvx tox run -e unit_tests -- -ra --reruns 5 --db postgresql -n 16 --dist loadscope

  integration-tests:
    name: Integration Tests
    runs-on: ${{ matrix.os }}
    needs: changes
    if: ${{ needs.changes.outputs.phoenix == 'true' || needs.changes.outputs.phoenix_client == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        py: ["3.10"]
        db: [sqlite, postgresql]
        os: [oss-4-core-runner]
    env:
      CI_TEST_DB_BACKEND: ${{ matrix.db }}
    services:
      postgres:
        # Applying this workaround: https://github.com/actions/runner/issues/822
        image: ${{ (matrix.db == 'postgresql') && 'postgres:12' || '' }}
        env:
          POSTGRES_PASSWORD: phoenix
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            requirements/
            src/phoenix/
            packages/phoenix-client/
            tests/integration/
            tests/__generated__/
            tests/__init__.py
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Run integration tests
        timeout-minutes: 30
        run: uvx tox run -e integration_tests -- -ra --reruns 5 -n 8

  test-migrations:
    name: DB Migration Continuity (${{ matrix.db }}${{ matrix.concurrently == true && ', concurrently' || '' }})
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.migrations == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        db: [sqlite, postgresql]
        concurrently: [false]
        include:
          - db: postgresql
            concurrently: true
    services:
      postgres:
        # Applying this workaround: https://github.com/actions/runner/issues/822
        image: ${{ (matrix.db == 'postgresql') && 'postgres:12' || '' }}
        env:
          POSTGRES_PASSWORD: phoenix
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Install arize-phoenix and database dependencies
        run: |
          uv pip install --system -qU 'arize-phoenix[pg]'
          PHOENIX_PATH=$(python -c "import phoenix.db; print(phoenix.db.__path__[0])")
          echo "PHOENIX_PATH=$PHOENIX_PATH" >> $GITHUB_ENV
      - name: Set database environment variable
        run: |
          if [ "${{ matrix.db }}" = "postgresql" ]; then
            echo "PHOENIX_SQL_DATABASE_URL=postgresql://postgres:phoenix@localhost:5432/postgres" >> $GITHUB_ENV
          else
            echo "PHOENIX_SQL_DATABASE_URL=sqlite:///phoenix_test.db" >> $GITHUB_ENV
          fi
          if [ "${{ matrix.concurrently }}" = "true" ]; then
            echo "PHOENIX_MIGRATE_INDEX_CONCURRENTLY=true" >> $GITHUB_ENV
          fi
      - name: Run migrations on installed Phoenix
        working-directory: ${{ env.PHOENIX_PATH }}
        run: |
          alembic history
          alembic upgrade head
          alembic current
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: src/phoenix/
      - name: Install Phoenix from current branch
        run: |
          uv pip install --system --reinstall-package arize-phoenix --no-sources .
      - name: Test new migrations
        working-directory: ${{ env.PHOENIX_PATH }}
        run: |
          alembic history
          alembic upgrade head
          alembic current
      - name: Test down migrations
        working-directory: ${{ env.PHOENIX_PATH }}
        run: |
          alembic downgrade base
          alembic current
      - name: Test up migrations
        working-directory: ${{ env.PHOENIX_PATH }}
        run: |
          alembic upgrade head
          alembic current

  phoenix-client-canary-tests-sdk:
    name: Phoenix Client Canary Tests for Third-Party SDKs
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.phoenix_client == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        py: [3.9]
        pkg: [openai, google_generativeai] # NOTE: bypass Anthropic check while types are changing
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            requirements/
            packages/phoenix-client/
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Set up `uv`
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
      - name: Run canary tests for ${{ matrix.pkg }}
        run: uvx tox run -e phoenix_client_canary_tests_sdk_${{ matrix.pkg }} -- -ra -x

  ci-required:
    name: CI Required
    needs:
      - format-and-lint
      - changes
      - phoenix-client
      - phoenix-evals
      - phoenix-otel
      - clean-jupyter-notebooks
      - build-graphql-schema
      - build-openapi-schema
      - codegen-protobuf
      - codegen-prompts
      - check-lockfile
      - type-check
      - unit-tests
      - integration-tests
      - test-migrations
      - phoenix-client-canary-tests-sdk
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Check all required jobs passed or were skipped
        run: |
          if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" ]]; then
            echo "One or more CI jobs failed"
            exit 1
          fi
          if [[ "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more CI jobs were cancelled"
            exit 1
          fi
          echo "All CI jobs passed or were skipped"
