name: Python CI

on:
    pull_request:
        paths:
            - "**.py"

concurrency:
  group: test-python-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
    #  Error: Dependency review is not supported on this repository. Please ensure that Dependency graph is enabled,
    #  see https://github.com/Arize-ai/arize-toolbox/settings/security_analysis
    #
    #  dep-review:
    #    name: Dependency Review
    #    runs-on: ubuntu-latest
    #    permissions:
    #      contents: read
    #    steps:
    #      - name: Check out Git repository
    #        uses: actions/checkout@v3
    #      - name: Dependency Review
    #        uses: actions/dependency-review-action@v1

    #  TODO(Kiko): Improve this GitHub Action
    #  documentation:
    #    name: Docstring Coverage
    #    runs-on: ubuntu-latest
    #    steps:
    #    - name: Checkout
    #      uses: actions/checkout@v3
    #    - name: Set up Python 3.8
    #      uses: actions/setup-python@v3
    #      with:
    #        python-version: 3.8
    #    - name: Python Interrogate Check
    #      uses: JackMcKew/python-interrogate-check@main
    #      with:
    #        path: 'phoenix'
    #        fail-under: 90

    sleep:
        name: Sleep 1m
        runs-on: ubuntu-latest
        setps:
          - name: Sleeping
            run: sleep 1m

    code-format:
        name: Code Format
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - uses: ricardochaves/python-lint@v1.4.0
              with:
                  python-root-list: "."
                  use-pylint: false
                  use-pycodestyle: false
                  use-mypy: false
                  use-flake8: true
                  use-isort: true
                  use-black: true
                  extra-flake8-options: "--max-line-length=94 --exclude=__init__.py"
                  extra-black-options: "--check --diff --color"
                  extra-isort-options: "--profile black --check-only --diff"
#  Error: Advanced Security must be enabled for this repository to use code scanning.
#
#  code-ql:
#    name: CodeQL Analysis
#    # CodeQL runs on ubuntu-latest, windows-latest, and macos-latest
#    runs-on: ubuntu-latest
#    needs: [dep-review, documentation, code-format]
#    permissions:
#      # required for all workflows
#      security-events: write
#      # only required for workflows in private repositories
#      actions: read
#      contents: read
#
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v3
#      # Initializes the CodeQL tools for scanning.
#      - name: Initialize CodeQL
#        uses: github/codeql-action/init@v2
#      # Autobuild attempts to build any compiled languages (C/C++, C#, or Java).
#      # If this step fails, then you should remove it and run the build manually (see below).
#      - name: Autobuild
#        uses: github/codeql-action/autobuild@v2
#      - name: Perform CodeQL Analysis
#        uses: github/codeql-action/analyze@v2
#
