on:
  push:
    branches:
      - main

permissions:
  actions: write
  contents: write
  pull-requests: write

name: release

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
        id: release
      - name: Trigger publish
        if: steps.release.outputs.releases_created == 'true'
        run: gh workflow run publish.yaml --repo ${{ github.repository }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
