openai==1.52.2
gradio==5.3.0
python-dotenv==1.0.1
arize-phoenix>=4.29.0

langchain==0.3.4
langchain_openai==0.2.3
langgraph==0.2.39
llama_index==0.11.17
autogen~=0.2
crewai==0.76.2

openinference-instrumentation==0.1.18
openinference-instrumentation-openai==0.1.14
openinference-instrumentation-langchain==0.1.28
openinference-instrumentation-llama-index==3.0.2
openinference-instrumentation-crewai==0.1.2
openinference-instrumentation-litellm==0.1.4